<!-- Vendor Scripts (Loaded individually to avoid compiler syntax errors) -->
<script src="/static/js/vendor/htmx.js" defer></script>
<script src="/static/js/vendor/htmx-ws.js" defer></script>
<script src="/static/js/vendor/sortable.js" defer></script>
<script src="/static/js/vendor/nprogress.js" defer></script>
<script src="/static/js/vendor/popper.js" defer></script>
<script src="/static/js/vendor/tippy.js" defer></script>
<script src="/static/js/vendor/alpine-persist.js" defer></script>
<script src="/static/js/vendor/alpine-collapse.js" defer></script>
<script src="/static/js/vendor/alpine.js" defer></script>

<!-- App Script -->
<script src="/static/js/app.js" defer></script>
