<div class="status-section">
    <div class="sec">ATTRIBUTES</div>

    <div class="attr-grid">
        <div class="ac">
            <span class="ac-k">STR</span>
            <span class="ac-v" x-text="agents[selectedAgentId].strength">10</span>
        </div>
        <div class="ac">
            <span class="ac-k">AGI</span>
            <span class="ac-v" x-text="agents[selectedAgentId].agility">10</span>
        </div>
        <div class="ac">
            <span class="ac-k">END</span>
            <span class="ac-v" x-text="agents[selectedAgentId].endurance">10</span>
        </div>
        <div class="ac">
            <span class="ac-k">INT</span>
            <span class="ac-v" x-text="agents[selectedAgentId].intelligence">10</span>
        </div>
        <div class="ac">
            <span class="ac-k">MEM</span>
            <span class="ac-v" x-text="agents[selectedAgentId].memory">10</span>
        </div>
        <div class="ac">
            <span class="ac-k">MEN</span>
            <span class="ac-v" x-text="agents[selectedAgentId].mentality">10</span>
        </div>
        <div class="ac">
            <span class="ac-k">PER</span>
            <span class="ac-v" x-text="agents[selectedAgentId].perception">10</span>
        </div>
        <div class="ac">
            <span class="ac-k">PRJ</span>
            <span class="ac-v" x-text="agents[selectedAgentId].projection">10</span>
        </div>
        <div class="ac">
            <span class="ac-k">PRD</span>
            <span class="ac-v" x-text="agents[selectedAgentId].protection">10</span>
        </div>
    </div>
</div>
