{% extends "site/base_site.html" %}

{% block content %}
<div style="max-width: 480px; margin: 120px auto; text-align: center; padding: 0 var(--sp-4);">
    <div class="ds-panel">
        <div class="ds-panel-header">Спасибо!</div>
        <div class="ds-panel-body">
            <p>Ваши ответы записаны. Спасибо за участие в опросе.</p>
            <div style="margin-top: var(--sp-4);">
                <a href="/" class="btn-node ghost"><span>На главную</span></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
